
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* HOMEPAGE TERRITÓRIOS */

.tabelaTerritorios {
    width: 90%;
}

.meuTitulo {
    font-size: 62px;
}

/* EDITAR TERRITORIOS */

.botaoPadrao {
    width: 86px;
}

/* IMPRIMIR TERRITORIOS */

.font-notable {
  font-family: 'Notable', sans-serif;
  font-size: 38px;
  color: black;
}

.font-anton {
    /* <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> */
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: black;
  
}

.font-anton-gray {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    color: #606060;
}

.font-anton-bold {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: black;
}

.tablet, .trt, .tdt {
    border: 1px solid black;
    color: black;
}

.tdt
{
    height: 28px;
}

.tdt-morador {
    /* <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> */
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;
    color: black;
}

.trt-cab {
    border: 1px solid black;
    color: black;
    background-color: #C8C8C8;
    
}

.tablet {
    width: 98%;
    padding: 0;
    margin: 0;  
}

.tdtelefone {
    text-align: center;
     vertical-align: middle;
     border: 1px solid black;
     color: black;
}

/* ENTRAR - LOGIN */

.entrar {
    width: 50%;
}